<<<<<<< remotes/origin/max
.heading {
	color: green;
}

body {
	background: green;
=======
@import "vars";
@import "mixins";
@import "for_loop";
@import "nesting";

body {

background: green;

>>>>>>> local
}